// Color

// Primary
$lightRed : hsl(356, 100%, 66%); //CTA Text
$veryLightRed : hsl(355, 100%, 74%); //CTA Hover Background
$veryDarkBlue : hsl(208, 49%, 24%);

// Neutral 
$grayishBlue : hsl(240, 2%, 79%); //footer text
$veryDarkGrayishBlue : hsl(207, 13%, 34%); //Body Copy
$veryDarkBlackBlue : hsl(240, 10%, 16%); //footer background

// Gradient CTA
$gradientVeryLightRed : hsl(13, 100%, 72%);
$gradientLightRed : hsl(353, 100%, 62%);

// Gradient Body :
$grdientDarkGrayBlue : hsl(237, 17%, 21%);
$gradientDesaturatedBlue : hsl(237, 23%, 32%);